<a href="https://colab.research.google.com/github/thinnarat007/python_dataviz2024/blob/main/Function_Loop_Condition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
name = 'ทินราช'
surname = 'เพ็งเภา'
ID = '653020208-5'

b= f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
print(b)

ชื่อ ทินราช นามสกุล เพ็งเภา รหัส 653020208-5

HW1

In [3]:
inp = '12:30:15-13:41:07'
inp_list =inp.split('-')
inp_list

['12:30:15', '13:41:07']

# Function

## Function template
#### ทำหน้าที่รับ input มาประมวณผลออกมาเป็น output
#### f(x) = y

### def คือการกำหนดฟังก์ชัน


backtick (`) ==> กด ~ ค้าง, alt - 9>6 (full keyboard with number)

tilde (~)

curly bracket ({ })

square bracket ([ ])

```python
    def function_name(_Input_) :
        do_something with _Input_ to get _Output_
        return _Output_
```

function มีส่วนสำคัญทั้งหมด 4 ส่วน

1.   บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร  ```def function_name():``` (ขาดไม่ได้)
2.   กำหนดตัวแปรที่จะเป็น input  ```_Input_``` (ขาดได้)
3.   ส่วนประมวลผล ```do_something with _Input_ to get _Output_``` (ขาดไม่ได้)
4.   ส่วน output ```return _Output_```(ขาดได้)

#### ตัวอย่างการเขียน normal function

In [4]:
def print_name(surname,ID,name): #ตัวอย่าง funtion ที่มี input หลายตัว output 1 ตัว
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    return st

In [5]:
print_name('เพ็งเภา','653020208-5','ทินราช')

'ชื่อ ทินราช นามสกุล เพ็งเภา รหัส 653020208-5'

In [6]:
print(print_name(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2'))

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

###ข้อแตกต่างระหว่าง function ที่และไม่มี output

In [7]:
out_printname1 = print_name(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')
print(out_printname1)

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

In [8]:
out_printname1

'ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2'

In [10]:
out_printname2 = print_name2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')
print(out_printname2)

NameError: name 'print_name2' is not defined

In [11]:
out_printname2

NameError: name 'out_printname2' is not defined

เราใช้ เว้นวรรค (indent) เพื่อบอกขอบเขตของโปรแกรม

ฟังก์ชั่นไม่จำเป็นต้องมี output

In [12]:
def print_name2(surname,ID,name):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print(st)

In [13]:
print_name2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

ฟังก์ชั่นไม่จำเป็นต้องมี input

In [14]:
def Pi():
    return 3.14159265359

In [16]:
Pi()*(2**2) # หาพื้นที่ของวงกลมที่มีรัศมีเท่ากับ Pi * r^2

12.56637061436

## เราสามารถกำหนดค่า default ให้กับ input ของฟังก์ชั่นได้

input ของ function ใน python มีสองแบบ input ที่จำเป็นต้องใส่ กับ input ที่ไม่จำเป็นต้องใส่ (มีค่า default)

เราต้องเรียง input ที่จำเป็นต้องใส่ขึ้นก่อน

In [17]:
def print_2lines_default(name,surname,ID,grade='F'):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print (st)
    st2=f'เกรดวิชา Data Viz >>> {grade}'
    print(st2)

In [18]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> F

In [19]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8','A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

# Quiz เขียนfuntion ที่รับ iput 1ตัว ตาม format hh1:mm1:ss1 - hh2:mm2:ss2 และคำนวณหา ช่วงเวลาเป็นวินาที ที่ห่างกันระหว่าง time1 และ time2 โดยยังไม่ต้องสนใจว่า time 2 สามารถข้ามไปอีกวันได้

In [20]:
def solutionsec(time_range):
    time1, time2 = time_range.split(' - ')
    time1 = time1.split(':')
    time2 = time2.split(':')
    time1_sec = int(time1[0])*3600 + int(time1[1])*60 + int(time1[2])
    time2_sec = int(time2[0])*3600 + int(time2[1])*60 + int(time2[2])
    timediff = time2_sec - time1_sec
    return (timediff)

In [21]:
print(
    solutionsec('01:00:00 - 01:00:01')
)

1

#quiz3.5
รับ intput 2 ตัว โดยตั้งค่าเป็น default time1 เป็น 00:00:00

In [22]:
def timediff(time2,time1='00:00:00'):
    time1 = time1.split(':')
    time2 = time2.split(':')
    total1_sec = int(time1[0])*3600 + int(time1[1])*60 + int(time1[2])
    total2_sec = int(time2[0])*3600 + int(time2[1])*60 + int(time2[2])
    timediff = total2_sec - total1_sec
    return (timediff)

In [23]:
print(timediff(time2='01:00:00'))

3600

#hw2
วนลูป หา ช่วงเวลาเป็นวินาที ที่ห่างกันระหว่า time1 และ time2 ต่อไปนี้


1. 18:09:10 - 18:25:10
2. 13:38:39 - 23:54:39
3. 16:49:58 - 18:05:58
4. 21:49:10 - 22:24:10
5. 08:52:21 - 09:25:21
6. 06:56:26 - 07:49:26
7. 12:08:05 - 12:43:05
8. 01:48:38 - 07:18:38
9. 08:51:21 - 10:17:21
10. 17:05:17 - 18:09:17

In [24]:

def tranfrom_to_seconds(time_str):
    H, M, S= time_str.split(":")
    H = int(H)
    M = int(M)
    S = int(S)
    return H * 3600 + M * 60 + S

In [25]:
def diff_time(time2, time1):
    return time2 - time1

In [26]:
def cal_seconds(time_str):
    time_list = time_str.split(" - ")
    time1 = tranfrom_to_seconds(time_list[0])
    time2 = tranfrom_to_seconds(time_list[1])
    result = diff_time(time2,time1)
    return time1, time2, result

In [27]:
Time_list = [
    "18:09:10 - 18:25:10",
    "13:38:39 - 23:54:39",
    "16:49:58 - 18:05:58",
    "21:49:10 - 22:24:10",
    "08:52:21 - 09:25:21",
    "06:56:26 - 07:49:26",
    "12:08:05 - 12:43:05",
    "01:48:38 - 07:18:38",
    "08:51:21 - 10:17:21",
    "17:05:17 - 18:09:17",
]

In [28]:
results = [cal_seconds(period) for period in Time_list]

In [29]:
differences = [result[2] for result in results]
differences

[960, 36960, 4560, 2100, 1980, 3180, 2100, 19800, 5160, 3840]

In [30]:
for diff in differences:
    print(f"Difference: {diff} seconds")

Difference: 960 seconds
Difference: 36960 seconds
Difference: 4560 seconds
Difference: 2100 seconds
Difference: 1980 seconds
Difference: 3180 seconds
Difference: 2100 seconds
Difference: 19800 seconds
Difference: 5160 seconds
Difference: 3840 seconds

# LOOP การวนซ้ำ

for เป็นคำที่ใช้บอก python ว่าเรากำลังเขียน loop
โดย for จะวนดึงสมาชิกจาก ```listA``` มาทำ process ```do_something```

```python
    for each_member in listA :
        do_something
```

#### คำสั่ง for เป็นคำสั่งวนซ้ำที่ใช้ควบคุมการทำงานซ้ำๆ ในจำนวนรอบที่แน่นอน

In [31]:
for i in [1,2,3] :
    o = i**2
    print (f'this member = {i} after process = {o}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

# จบวันที่ 7 มค 2564

#### ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ i เมื่อ i คือ 'Thanapong' และคำสั่ง print(f'{i} -> /') เพื่อกำหนดให้ผลลัพธ์แสดงสัญลักษณ์ -> /  จากนั้นเพิ่มคำสั่ง print(' ') อีกครั้งเพื่อให้ผลลัพธ์มีการเว้นวรรค¶

In [32]:
for i in 'Thanapong':
    print(f'{i} -> / ' )

T -> /
h -> /
a -> /
n -> /
a -> /
p -> /
o -> /
n -> /
g -> /

In [33]:
for i in 'Thanapong':
    print(f'{i} -> / ' ,end = '') #สั่งให้ print แบบ ไม่เว้นบรรทัด

T -> / h -> / a -> / n -> / a -> / p -> / o -> / n -> / g -> /

In [34]:
for i in 'Thanapong':
    print(f'{i} -> / ' ,end = ',') #สั่งให้ print แบบ ไม่เว้นบรรทัด

T -> / ,h -> / ,a -> / ,n -> / ,a -> / ,p -> / ,o -> / ,n -> / ,g -> / ,

## สร้าง list ตัวเลขแบบอัตโนมัติ  range()

In [35]:
range5_output = range(5)
print(list(range5_output))

[0, 1, 2, 3, 4]

In [36]:
for i in range(100):
    print('งง',end=' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [37]:
list(range(1,11)) #เริ่มต้นเป็นวงทึบ จบเป็นวงกลมโปร่ง เหมือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [38]:
list(range(-3,20,4))

[-3, 1, 5, 9, 13, 17]

### loop in loop
#### สามารถใช้ for loop ซ้อนกันสองรอบได้¶

In [39]:
for name1 in  range(2,5): #(2, 3, 4)
    print(f'now name1 = {name1}')
    for name2 in  range(1,13):
        print(name1,' x ',name2,' = ',name1*name2)
    print('the inner loop is end')

now name1 = 2
2  x  1  =  2
2  x  2  =  4
2  x  3  =  6
2  x  4  =  8
2  x  5  =  10
2  x  6  =  12
2  x  7  =  14
2  x  8  =  16
2  x  9  =  18
2  x  10  =  20
2  x  11  =  22
2  x  12  =  24
the inner loop is end
now name1 = 3
3  x  1  =  3
3  x  2  =  6
3  x  3  =  9
3  x  4  =  12
3  x  5  =  15
3  x  6  =  18
3  x  7  =  21
3  x  8  =  24
3  x  9  =  27
3  x  10  =  30
3  x  11  =  33
3  x  12  =  36
the inner loop is end
now name1 = 4
4  x  1  =  4
4  x  2  =  8
4  x  3  =  12
4  x  4  =  16
4  x  5  =  20
4  x  6  =  24
4  x  7  =  28
4  x  8  =  32
4  x  9  =  36
4  x  10  =  40
4  x  11  =  44
4  x  12  =  48
the inner loop is end

### loop in function
#### การวนลูปในฟังก์ชั่น¶

In [40]:
def print_feelings(I,friendS,feeling = 'คิดถึง'):
    for friend in friendS:
        print(f'{I} {feeling} {friend}')

In [41]:
list_friends = ['พี่บูม','ดายน์','แตงโม','ฝน','พี่เจ็ท','น้องแคมป์']

In [42]:
print_feelings('เจมส์',list_friends)

เจมส์ คิดถึง พี่บูม
เจมส์ คิดถึง ดายน์
เจมส์ คิดถึง แตงโม
เจมส์ คิดถึง ฝน
เจมส์ คิดถึง พี่เจ็ท
เจมส์ คิดถึง น้องแคมป์

In [43]:
print_feelings('เจมส์',list_friends,feeling='รัก')

เจมส์ รัก พี่บูม
เจมส์ รัก ดายน์
เจมส์ รัก แตงโม
เจมส์ รัก ฝน
เจมส์ รัก พี่เจ็ท
เจมส์ รัก น้องแคมป์

In [44]:
print_feelings('เจมส์',list_friends,'รัก')

เจมส์ รัก พี่บูม
เจมส์ รัก ดายน์
เจมส์ รัก แตงโม
เจมส์ รัก ฝน
เจมส์ รัก พี่เจ็ท
เจมส์ รัก น้องแคมป์

#Dictionary(Data Struture)
โคงสร้างข้อมูลที่จัดเก็บข้อมูลโดยการอ้างอิงโดย text
วงเล็บที่ใช้{} curly Brackets

In [45]:
Ex_dict={'memerA':[1,2,3],'memberB':8,'memberC':'abc'}

In [46]:
Ex_dict['memerA'][1]

2

### looping in dict
#### ทำการวนลูปในค่า dict โดยที่เรากำหนดตัว key และvalueขึ้นมา ได้ดังนี้

In [47]:
name_grade = {'พันทิพา' : 'B','ศุภนิตา' : 'C','ปนัดดา' : 'A','ทรงกลด' : 'F'}
name_grade

{'พันทิพา': 'B', 'ศุภนิตา': 'C', 'ปนัดดา': 'A', 'ทรงกลด': 'F'}

In [48]:
name_grade['ปนัดดา']

'A'

In [49]:
for i in name_grade.keys():
    print(i)

พันทิพา
ศุภนิตา
ปนัดดา
ทรงกลด

In [50]:
name_grade.keys()

dict_keys(['พันทิพา', 'ศุภนิตา', 'ปนัดดา', 'ทรงกลด'])

In [51]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}')

พันทิพา ได้เกรด B
ศุภนิตา ได้เกรด C
ปนัดดา ได้เกรด A
ทรงกลด ได้เกรด F

### conditional คือ เงื่อนไข /ประโยคเงื่อนไข

ชนิดตัวแปลที่เกี่ยวข้อง  (True,False)

In [52]:
condition_1 = True
condition_2 = False


# การวนลูปโดยมีเงื่อนไขต่างๆมาเกี่ยวข้อง โดยมี pattern ดังนี้

In [53]:
def time_to_second(time1):
    time1_list = time1.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    return time1_sec

In [54]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"],["18:51:21", "00:17:21"],
    ["17:05:17", "11:09:17"],]

In [55]:
for time1,time2 in time_list:

    if time_to_second(time1) < time_to_second(time2): #ถ้า time1 น้อยกว่า time2
        diff_seconds = time_to_second(time2) - time_to_second(time1)
    else: #ถ้า time1 ไม่น้อยกว่า time2
        diff_seconds = (time_to_second(time2)+(24*60*60)) - time_to_second(time1)

    print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds
Time difference between 18:51:21 - 00:17:21 is 19560 seconds
Time difference between 17:05:17 - 11:09:17 is 65040 seconds

#HW3 เพิ่ม ฟังก์ชั่นแปลงวินาทีกลับมาเป็น ชั่วโมง นาที วินาที โดยไม่ใช่ฟังก์ชั่นช่วยเหลืออื่นๆของ python (import) ถ้าส่วนของ ชั่วโมง นาที วินาที เป็นศูนย์ ไม่ต้องแสดง

In [72]:
def second_to_time(seconds):
    hours = seconds // 3600
    seconds %= 3600
    minutes = seconds // 60
    seconds %= 60
    time_str = ""
    if hours > 0:
        time_str += f"{hours} hours "
    if minutes > 0:
        time_str += f"{minutes} minutes "
    if seconds > 0:
        time_str += f"{seconds} seconds"
    return time_str.strip()

In [75]:
for time1, time2 in time_list:
    if time_to_second(time1) < time_to_second(time2):
        diff_seconds = time_to_second(time2) - time_to_second(time1)
    else:
        diff_seconds = (time_to_second(time2) + (24 * 60 * 60)) - time_to_second(time1)

    time_diff_str = second_to_time(diff_seconds)
    print(f"Time difference between {time1} and {time2} is {time_diff_str}  ")

Time difference between 18:09:10 and 18:25:10 is 16 minutes
Time difference between 13:38:39 and 23:54:39 is 10 hours 16 minutes
Time difference between 16:49:58 and 18:05:58 is 1 hours 16 minutes
Time difference between 21:49:10 and 22:24:10 is 35 minutes
Time difference between 08:52:21 and 09:25:21 is 33 minutes
Time difference between 06:56:26 and 07:49:26 is 53 minutes
Time difference between 12:08:05 and 12:43:05 is 35 minutes
Time difference between 01:48:38 and 07:18:38 is 5 hours 30 minutes
Time difference between 08:51:21 and 10:17:21 is 1 hours 26 minutes
Time difference between 17:05:17 and 18:09:17 is 1 hours 4 minutes
Time difference between 18:51:21 and 00:17:21 is 5 hours 26 minutes
Time difference between 17:05:17 and 11:09:17 is 18 hours 4 minutes

# HW 4
#### เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A)
#### วนลูปตัดเกรด input = [1,50,65,90,101,-5,49]

In [76]:
def grade(score):
    if score < 0 or score > 100:
        raise ValueError("คะแนนต้องอยู่ระหว่าง 0 ถึง 100")
    elif score < 50:
        return "F"
    elif score < 55:
        return "D"
    elif score < 60:
        return "D+"
    elif score < 65:
        return "C"
    elif score < 70:
        return "C+"
    elif score < 75:
        return "B"
    elif score < 80:
        return "B+"
    else:
        return "A"

In [77]:
def grade_students(scores):
    results = []
    for score in scores:
        try:
            results.append(grade(score))
        except ValueError as e:
            results.append(str(e))
    return results

In [78]:
input_scores = [1, 50, 65, 90, 101, -5, 49]
output_grades = grade_students(input_scores)
output_grades

['F',
 'D',
 'C+',
 'A',
 'คะแนนต้องอยู่ระหว่าง 0 ถึง 100',
 'คะแนนต้องอยู่ระหว่าง 0 ถึง 100',
 'F']

#จบการบ้าน

In [56]:
def time_to_seconds(time1):
  time_list = time1.split(':')
  time_sec = int(time_list[0])*3600 + int(time_list[1])*60 + int(time_list[2])
  return time_sec

```Python
if condition1 :
    do something
elif condition2 :  #elif คือ else if
    do another thing
else:
    do ...
```

In [57]:
print(list_friends)

['พี่บูม', 'ดายน์', 'แตงโม', 'ฝน', 'พี่เจ็ท', 'น้องแคมป์']

In [58]:
for name1 in list_friends :
    for name2 in list_friends :
            print(name1,'รัก',name2)

พี่บูม รัก พี่บูม
พี่บูม รัก ดายน์
พี่บูม รัก แตงโม
พี่บูม รัก ฝน
พี่บูม รัก พี่เจ็ท
พี่บูม รัก น้องแคมป์
ดายน์ รัก พี่บูม
ดายน์ รัก ดายน์
ดายน์ รัก แตงโม
ดายน์ รัก ฝน
ดายน์ รัก พี่เจ็ท
ดายน์ รัก น้องแคมป์
แตงโม รัก พี่บูม
แตงโม รัก ดายน์
แตงโม รัก แตงโม
แตงโม รัก ฝน
แตงโม รัก พี่เจ็ท
แตงโม รัก น้องแคมป์
ฝน รัก พี่บูม
ฝน รัก ดายน์
ฝน รัก แตงโม
ฝน รัก ฝน
ฝน รัก พี่เจ็ท
ฝน รัก น้องแคมป์
พี่เจ็ท รัก พี่บูม
พี่เจ็ท รัก ดายน์
พี่เจ็ท รัก แตงโม
พี่เจ็ท รัก ฝน
พี่เจ็ท รัก พี่เจ็ท
พี่เจ็ท รัก น้องแคมป์
น้องแคมป์ รัก พี่บูม
น้องแคมป์ รัก ดายน์
น้องแคมป์ รัก แตงโม
น้องแคมป์ รัก ฝน
น้องแคมป์ รัก พี่เจ็ท
น้องแคมป์ รัก น้องแคมป์

In [59]:
for name1 in list_friends:
    for name2 in list_friends:
        if name1 != name2: #ไม่ปริ้นชื่อคนเดียวกันซ้ำ
            print(name1,'รัก',name2)

พี่บูม รัก ดายน์
พี่บูม รัก แตงโม
พี่บูม รัก ฝน
พี่บูม รัก พี่เจ็ท
พี่บูม รัก น้องแคมป์
ดายน์ รัก พี่บูม
ดายน์ รัก แตงโม
ดายน์ รัก ฝน
ดายน์ รัก พี่เจ็ท
ดายน์ รัก น้องแคมป์
แตงโม รัก พี่บูม
แตงโม รัก ดายน์
แตงโม รัก ฝน
แตงโม รัก พี่เจ็ท
แตงโม รัก น้องแคมป์
ฝน รัก พี่บูม
ฝน รัก ดายน์
ฝน รัก แตงโม
ฝน รัก พี่เจ็ท
ฝน รัก น้องแคมป์
พี่เจ็ท รัก พี่บูม
พี่เจ็ท รัก ดายน์
พี่เจ็ท รัก แตงโม
พี่เจ็ท รัก ฝน
พี่เจ็ท รัก น้องแคมป์
น้องแคมป์ รัก พี่บูม
น้องแคมป์ รัก ดายน์
น้องแคมป์ รัก แตงโม
น้องแคมป์ รัก ฝน
น้องแคมป์ รัก พี่เจ็ท

In [60]:
for name1 in list_friends:
    for name2 in list_friends:
        if name1 == name2: #ปริ้นชื่อคนเดียวกันซ้ำ
            print(name1,'รัก',name2)

พี่บูม รัก พี่บูม
ดายน์ รัก ดายน์
แตงโม รัก แตงโม
ฝน รัก ฝน
พี่เจ็ท รัก พี่เจ็ท
น้องแคมป์ รัก น้องแคมป์

In [61]:
for name1 in list_friends:
    for name2 in list_friends:
        if name1 == name2:
            'do nothing'
        else:
            print(name1,'รัก',name2)

พี่บูม รัก ดายน์
พี่บูม รัก แตงโม
พี่บูม รัก ฝน
พี่บูม รัก พี่เจ็ท
พี่บูม รัก น้องแคมป์
ดายน์ รัก พี่บูม
ดายน์ รัก แตงโม
ดายน์ รัก ฝน
ดายน์ รัก พี่เจ็ท
ดายน์ รัก น้องแคมป์
แตงโม รัก พี่บูม
แตงโม รัก ดายน์
แตงโม รัก ฝน
แตงโม รัก พี่เจ็ท
แตงโม รัก น้องแคมป์
ฝน รัก พี่บูม
ฝน รัก ดายน์
ฝน รัก แตงโม
ฝน รัก พี่เจ็ท
ฝน รัก น้องแคมป์
พี่เจ็ท รัก พี่บูม
พี่เจ็ท รัก ดายน์
พี่เจ็ท รัก แตงโม
พี่เจ็ท รัก ฝน
พี่เจ็ท รัก น้องแคมป์
น้องแคมป์ รัก พี่บูม
น้องแคมป์ รัก ดายน์
น้องแคมป์ รัก แตงโม
น้องแคมป์ รัก ฝน
น้องแคมป์ รัก พี่เจ็ท

#### ==, !=,>=,<=,<,>

In [62]:
'พี่บูม' == 'พี่เจ็ท'

False

In [63]:
'พี่บูม' != 'พี่เจ็ท'

True

#### หากหลังเงื่อนไข True ถูกต้องจะทำการ print ข้อความออกมาว่า Yes

In [64]:
if True:
    print('Yes')

Yes

In [65]:
if False:
    print('No')

#### หากหลังเงื่อนไข False ไม่ถูกต้องจะไม่ปริ้นข้อความใดๆออกมา
#### ซึ่งจะต้องใช้เงื่อนไขนี้ จึงจะได้ปริ้นค่าเงื่อนไขนั้นออกมา ดังนี้

In [66]:
if False:
    print('Yes')
else:
    print('No')

No

# HW
#### เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A)
#### วนลูปตัดเกรด input = [1,50,65,90,101,-5,49]

##### กำหนด
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ  0  แต่น้อยกว่า 50 จะได้เกรด F
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80  จะได้เกรด A
      แต่ว่าค่าคะแนนจะต้องไม่ต่ำกว่า 0 และมากกว่า 100 ไม่งั้นจะเกิด error

In [67]:
if (1>0) & (0<1):
  print(True &  True)

True

In [68]:
if 'T' in 'Thanapong':
  print('T in Thanapong')

T in Thanapong

In [69]:
def return_nothing (x):
  x=x+1

In [70]:
a = return_nothing

In [71]:
if a is None:
  print('x is Null')

# Finish