<a href="https://colab.research.google.com/github/thinnarat007/python_dataviz2024/blob/main/Indian_Film_Data_Management.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###  Dataset
Drive link :https://drive.google.com/drive/u/1/folders/1OaXNS_K_IeEaimohWKA8wWDQhfstbJ_0

In [1]:
#‡πÄ‡∏ä‡∏∑‡πà‡∏≠‡∏° google drive
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
#‡πÄ‡∏Ç‡πâ‡∏≤‡πÑ‡∏õ path ‡πÉ‡∏ô google drive
import os
os.chdir('/content/gdrive/MyDrive/Data_viz2024_Data/')

!pwd #‡πÄ‡∏ä‡πá‡∏Ñ path ‡∏ó‡∏µ‡πà‡∏Å‡∏≥‡∏•‡∏±‡∏á‡∏ó‡∏≥‡∏á‡∏≤‡∏ô‡∏≠‡∏¢‡∏π‡πà

/content/gdrive/MyDrive/Data_viz2024_Data

In [4]:
# prompt: ‡∏°‡∏µ‡∏Å‡∏µ‡πà‡πÑ‡∏ü‡∏•‡πå‡πÉ‡∏ô‡πÇ‡∏ü‡∏•‡πå‡πÄ‡∏î‡∏≠‡∏£‡πå‡∏ô‡∏µ‡πâ ‡πÑ‡∏ü‡∏•‡πå‡∏≠‡∏∞‡πÑ‡∏£‡∏ö‡πâ‡∏≤‡∏á

import os

files = os.listdir()
print(f"‡∏°‡∏µ‡πÑ‡∏ü‡∏•‡πå‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î {len(files)} ‡πÑ‡∏ü‡∏•‡πå")
print("‡πÑ‡∏ü‡∏•‡πå‡∏ó‡∏µ‡πà‡∏≠‡∏¢‡∏π‡πà‡πÉ‡∏ô‡πÇ‡∏ü‡∏•‡πÄ‡∏î‡∏≠‡∏£‡πå‡∏ô‡∏µ‡πâ:")
for file in files:
  print(file)

# !ls

‡∏°‡∏µ‡πÑ‡∏ü‡∏•‡πå‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î 9 ‡πÑ‡∏ü‡∏•‡πå
‡πÑ‡∏ü‡∏•‡πå‡∏ó‡∏µ‡πà‡∏≠‡∏¢‡∏π‡πà‡πÉ‡∏ô‡πÇ‡∏ü‡∏•‡πÄ‡∏î‡∏≠‡∏£‡πå‡∏ô‡∏µ‡πâ:
folktales.csv
IMDb Movies India.csv
indian_director.csv
Unknown-4.png
innnn
Test
barchart_data.csv
t
india_merge.csv

# üîó‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏µ‡πà‡πÄ‡∏£‡∏≤‡∏ï‡πâ‡∏≠‡∏á‡∏Å‡∏≤‡∏£

![image.png]()

# üîóOpen CSV file ü´£

## IMDb Movies India table

In [5]:
# prompt: open csv file name IMDb Movies India.csv and set csv variable name is  movies_india
import pandas as pd
movies_india = pd.read_csv("IMDb Movies India.csv", encoding='latin-1') # Try reading the file with 'latin-1' encoding.
print(movies_india.shape)
movies_india.head()

(15509, 10)

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),(2019),109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,(2021),90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,(2019),110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,(2010),105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali

In [6]:
# prompt: Using dataframe movies_india:  ‡πÄ‡∏ä‡πá‡∏Å‡∏Ñ‡πà‡∏≤ missing  ‡∏ï‡∏≤‡∏£‡∏≤‡∏á

# Check for missing values in the dataframe
missing_values = movies_india.isnull().sum()

# Display the count of missing values for each column
print(missing_values)

Name           0
Year         528
Duration    8269
Genre       1877
Rating      7590
Votes       7589
Director     525
Actor 1     1617
Actor 2     2384
Actor 3     3144
dtype: int64

### Column: "Name"

In [7]:
# prompt: movies_india: ‡πÅ‡∏ó‡∏ô‡∏ó‡∏µ‡πà ‡πÅ‡∏ñ‡∏ß‡πÅ‡∏£‡∏Å ‡∏Ç‡∏≠‡∏á column Name ‡∏î‡πâ‡∏ß‡∏¢ Unknown
movies_india.loc[0, 'Name'] = 'Unknown'
movies_india

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,Unknown,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),(2019),109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,(2021),90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,(2019),110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,(2010),105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali
...,...,...,...,...,...,...,...,...,...,...
15504,Zulm Ko Jala Doonga,(1988),NaN,Action,4.6,11,Mahendra Shah,Naseeruddin Shah,Sumeet Saigal,Suparna Anand
15505,Zulmi,(1999),129 min,"Action, Drama",4.5,655,Kuku Kohli,Akshay Kumar,Twinkle Khanna,Aruna Irani
15506,Zulmi Raj,(2005),NaN,Action,NaN,NaN,Kiran Thej,Sangeeta Tiwari,NaN,NaN
15507,Zulmi Shikari,(1988),NaN,Action,NaN,NaN,NaN,NaN,NaN,NaN
15508,Zulm-O-Sitam,(1998),130 min,"Action, Drama",6.2,20,K.C. Bokadia,Dharmendra,Jaya Prada,Arjun Sarja

In [8]:
# prompt: movies_india: explore column Name

# Explore the 'Name' column in movies_india DataFrame

# Check the number of unique movie names
unique_movie_names = movies_india['Name'].nunique()
print(f"Number of unique movie names: {unique_movie_names}")

# Check the most frequent movie names
most_frequent_movie_names = movies_india['Name'].value_counts().head(10)
print("\nMost frequent movie names:\n", most_frequent_movie_names)

# Check for missing values in the 'Name' column
missing_movie_names = movies_india['Name'].isnull().sum()
print(f"\nNumber of missing movie names: {missing_movie_names}")

Number of unique movie names: 13838

Most frequent movie names:
 Name
Anjaam         7
Mamta          7
Zindagi        6
Musafir        6
Albela         5
Toofan         5
Guru           5
Amar Prem      5
Laila Majnu    5
Shararat       5
Name: count, dtype: int64

Number of missing movie names: 0

### Column: "Year"

In [9]:
# prompt: Using dataframe movies_india: explore column Year

# Look at the unique values in the 'Year' column
print(movies_india['Year'].unique())

# Count the number of movies released in each year
year_counts = movies_india['Year'].value_counts()
print(year_counts)

# Calculate some descriptive statistics for the 'Year' column
print(movies_india['Year'].describe())

[nan '(2019)' '(2021)' '(2010)' '(1997)' '(2005)' '(2008)' '(2012)'
 '(2014)' '(2004)' '(2016)' '(1991)' '(1990)' '(2018)' '(1987)' '(1948)'
 '(1958)' '(2017)' '(2020)' '(2009)' '(2002)' '(1993)' '(1946)' '(1994)'
 '(2007)' '(2013)' '(2003)' '(1998)' '(1979)' '(1951)' '(1956)' '(1974)'
 '(2015)' '(2006)' '(1981)' '(1985)' '(2011)' '(2001)' '(1967)' '(1988)'
 '(1995)' '(1959)' '(1996)' '(1970)' '(1976)' '(2000)' '(1999)' '(1973)'
 '(1968)' '(1943)' '(1953)' '(1986)' '(1983)' '(1989)' '(1982)' '(1977)'
 '(1957)' '(1950)' '(1992)' '(1969)' '(1975)' '(1947)' '(1972)' '(1971)'
 '(1935)' '(1978)' '(1960)' '(1944)' '(1963)' '(1940)' '(1984)' '(1934)'
 '(1955)' '(1936)' '(1980)' '(1966)' '(1949)' '(1962)' '(1964)' '(1952)'
 '(1933)' '(1942)' '(1939)' '(1954)' '(1945)' '(1961)' '(1965)' '(1938)'
 '(1941)' '(1931)' '(1937)' '(2022)' '(1932)' '(1923)' '(1915)' '(1928)'
 '(1922)' '(1917)' '(1913)' '(1930)' '(1926)' '(1914)' '(1924)']
Year
(2019)    410
(2021)    392
(2018)    381
(2017)    360
(2005)    346
         ...
(1917)      1
(1913)      1
(1926)      1
(1914)      1
(1924)      1
Name: count, Length: 102, dtype: int64
count      14981
unique       102
top       (2019)
freq         410
Name: Year, dtype: object

In [10]:
# ‡∏à‡∏±‡∏î‡∏Å‡∏≤‡∏£ column Year ‡∏à‡∏≤‡∏Å '(2004)' ‡πÉ‡∏´‡πâ‡πÄ‡∏õ‡πá‡∏ô‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•  '2004'

import pandas as pd
movies_india['Year'] = movies_india['Year'].str.extract('(\d{4})')
# movies_india['Year'] = pd.to_numeric(movies_india['Year'], errors='coerce')

# Look at the unique values in the 'Year' column
print(movies_india['Year'].unique())

[nan '2019' '2021' '2010' '1997' '2005' '2008' '2012' '2014' '2004' '2016'
 '1991' '1990' '2018' '1987' '1948' '1958' '2017' '2020' '2009' '2002'
 '1993' '1946' '1994' '2007' '2013' '2003' '1998' '1979' '1951' '1956'
 '1974' '2015' '2006' '1981' '1985' '2011' '2001' '1967' '1988' '1995'
 '1959' '1996' '1970' '1976' '2000' '1999' '1973' '1968' '1943' '1953'
 '1986' '1983' '1989' '1982' '1977' '1957' '1950' '1992' '1969' '1975'
 '1947' '1972' '1971' '1935' '1978' '1960' '1944' '1963' '1940' '1984'
 '1934' '1955' '1936' '1980' '1966' '1949' '1962' '1964' '1952' '1933'
 '1942' '1939' '1954' '1945' '1961' '1965' '1938' '1941' '1931' '1937'
 '2022' '1932' '1923' '1915' '1928' '1922' '1917' '1913' '1930' '1926'
 '1914' '1924']

In [11]:
# prompt: movies_india: ‡πÄ‡∏ï‡∏¥‡∏° missing ‡∏Ç‡∏≠‡∏á column Year ‡∏î‡πâ‡∏ß‡∏¢ "Unknown"

movies_india['Year'] = movies_india['Year'].fillna('Unknown')
# Look at the unique values in the 'Year' column
print(movies_india['Year'].unique())

['Unknown' '2019' '2021' '2010' '1997' '2005' '2008' '2012' '2014' '2004'
 '2016' '1991' '1990' '2018' '1987' '1948' '1958' '2017' '2020' '2009'
 '2002' '1993' '1946' '1994' '2007' '2013' '2003' '1998' '1979' '1951'
 '1956' '1974' '2015' '2006' '1981' '1985' '2011' '2001' '1967' '1988'
 '1995' '1959' '1996' '1970' '1976' '2000' '1999' '1973' '1968' '1943'
 '1953' '1986' '1983' '1989' '1982' '1977' '1957' '1950' '1992' '1969'
 '1975' '1947' '1972' '1971' '1935' '1978' '1960' '1944' '1963' '1940'
 '1984' '1934' '1955' '1936' '1980' '1966' '1949' '1962' '1964' '1952'
 '1933' '1942' '1939' '1954' '1945' '1961' '1965' '1938' '1941' '1931'
 '1937' '2022' '1932' '1923' '1915' '1928' '1922' '1917' '1913' '1930'
 '1926' '1914' '1924']

### Column: "Duration"

In [12]:
# prompt: movies_india: explore column Duration

import pandas as pd
import matplotlib.pyplot as plt
# Explore the 'Duration' column
print(movies_india['Duration'].unique())

# Check for missing values
print('Check for missing values ', movies_india['Duration'].isnull().sum())

[nan '109 min' '90 min' '110 min' '105 min' '147 min' '142 min' '59 min'
 '82 min' '116 min' '96 min' '120 min' '161 min' '166 min' '102 min'
 '87 min' '132 min' '66 min' '146 min' '112 min' '168 min' '158 min'
 '126 min' '94 min' '138 min' '124 min' '144 min' '157 min' '136 min'
 '107 min' '113 min' '80 min' '122 min' '149 min' '148 min' '130 min'
 '121 min' '188 min' '115 min' '103 min' '114 min' '170 min' '100 min'
 '99 min' '140 min' '128 min' '93 min' '125 min' '145 min' '75 min'
 '111 min' '134 min' '85 min' '104 min' '92 min' '137 min' '127 min'
 '150 min' '119 min' '135 min' '86 min' '76 min' '70 min' '72 min'
 '151 min' '95 min' '52 min' '89 min' '143 min' '177 min' '117 min'
 '123 min' '154 min' '88 min' '175 min' '153 min' '78 min' '139 min'
 '133 min' '101 min' '180 min' '60 min' '46 min' '164 min' '162 min'
 '171 min' '160 min' '152 min' '62 min' '163 min' '165 min' '141 min'
 '210 min' '129 min' '156 min' '240 min' '172 min' '155 min' '118 min'
 '167 min' '106 min' '193 min' '57 min' '108 min' '45 min' '195 min'
 '174 min' '81 min' '178 min' '58 min' '184 min' '97 min' '98 min'
 '131 min' '176 min' '169 min' '77 min' '91 min' '84 min' '173 min'
 '74 min' '67 min' '181 min' '300 min' '79 min' '65 min' '48 min'
 '183 min' '159 min' '83 min' '68 min' '49 min' '201 min' '64 min'
 '186 min' '50 min' '69 min' '207 min' '55 min' '61 min' '185 min'
 '187 min' '216 min' '63 min' '54 min' '198 min' '51 min' '71 min'
 '73 min' '218 min' '191 min' '321 min' '199 min' '53 min' '56 min'
 '179 min' '47 min' '206 min' '190 min' '211 min' '247 min' '213 min'
 '223 min' '2 min' '189 min' '224 min' '202 min' '255 min' '197 min'
 '182 min' '214 min' '208 min' '21 min' '200 min' '192 min' '37 min'
 '261 min' '238 min' '204 min' '235 min' '298 min' '217 min' '250 min']
Check for missing values  8269

In [13]:
# ‡∏à‡∏±‡∏î‡∏Å‡∏≤‡∏£ column Duration ‡∏à‡∏≤‡∏Å '235 min'  ‡πÉ‡∏´‡πâ‡πÄ‡∏õ‡πá‡∏ô‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• 235

# Remove ' min' from the 'Duration' column and convert to numeric
movies_india['Duration'] = movies_india['Duration'].str.replace(' min', '').fillna(0).astype(int)

# Display the updated 'Duration' column
print(movies_india['Duration'].head())

0      0
1    109
2     90
3    110
4    105
Name: Duration, dtype: int64

In [14]:
# ‡πÄ‡∏ï‡∏¥‡∏° 0 ‡∏Ç‡∏≠‡∏á column Duration ‡∏î‡πâ‡∏ß‡∏¢ "Unknown" ‡πÄ‡∏û‡∏£‡∏≤‡∏∞‡πÄ‡∏õ‡πá‡∏ô‡∏Ñ‡πà‡∏≤ missing

# Replace 0 values in 'Duration' with 'Unknown'
movies_india['Duration'] = movies_india['Duration'].replace(0, 'Unknown')

# Display the updated 'Duration' column
print(movies_india['Duration'].head())

0    Unknown
1        109
2         90
3        110
4        105
Name: Duration, dtype: object

### Column: "Genre"

In [15]:
# prompt: Using dataframe movies_india: explore column Genre

# Look at the unique genres
print(movies_india['Genre'].unique())

# Count the number of movies in each genre
genre_counts = movies_india.groupby('Genre')['Name'].count()
print(genre_counts)

# Find the most frequent genres
print(genre_counts.sort_values(ascending=False).head(10))

['Drama' 'Drama, Musical' 'Comedy, Romance' 'Comedy, Drama, Musical'
 'Drama, Romance, War' 'Documentary' 'Horror, Mystery, Thriller'
 'Action, Crime, Thriller' 'Horror' 'Horror, Romance, Thriller'
 'Comedy, Drama, Romance' 'Thriller' 'Comedy, Drama' nan
 'Comedy, Drama, Fantasy' 'Comedy, Drama, Family' 'Crime, Drama, Mystery'
 'Horror, Thriller' 'Biography' 'Comedy, Horror' 'Action'
 'Drama, Horror, Mystery' 'Comedy' 'Action, Thriller' 'Drama, History'
 'Drama, History, Sport' 'Horror, Mystery, Romance' 'Horror, Mystery'
 'Drama, Horror, Romance' 'Action, Drama, History' 'Action, Drama, War'
 'Comedy, Family' 'Adventure, Horror, Mystery' 'Action, Sci-Fi'
 'Crime, Mystery, Thriller' 'War' 'Sport' 'Biography, Drama, History'
 'Horror, Romance' 'Crime, Drama' 'Drama, Romance' 'Adventure, Drama'
 'Comedy, Mystery, Thriller' 'Action, Crime, Drama' 'Crime, Thriller'
 'Horror, Sci-Fi, Thriller' 'Crime, Drama, Thriller'
 'Drama, Mystery, Thriller' 'Drama, Sport' 'Drama, Family, Musical'
 'Action, Comedy' 'Comedy, Thriller' 'Action, Adventure, Fantasy'
 'Drama, Romance, Thriller' 'Action, Drama' 'Drama, Horror, Musical'
 'Action, Biography, Drama' 'Adventure, Comedy, Drama' 'Mystery'
 'Action, Fantasy, Mystery' 'Adventure, Drama, Mystery'
 'Mystery, Thriller' 'Adventure' 'Drama, Musical, Thriller'
 'Comedy, Crime, Drama' 'Musical, Romance' 'Documentary, Music'
 'Documentary, History, Music' 'Drama, Fantasy, Mystery'
 'Drama, Family, Sport' 'Drama, Thriller' 'Documentary, Biography'
 'Action, Adventure, Comedy' 'Romance' 'Comedy, Drama, Music'
 'Comedy, Horror, Mystery' 'Musical' 'Musical, Romance, Drama'
 'Family, Romance' 'Action, Sci-Fi, Thriller' 'Action, Drama, Romance'
 'Mystery, Romance' 'Fantasy' 'Family' 'Drama, Family'
 'Action, Comedy, Drama' 'Action, Drama, Thriller'
 'Drama, Horror, Thriller' 'Drama, Musical, Romance' 'Comedy, Sci-Fi'
 'Action, Romance' 'Action, Crime' 'Action, Drama, Crime'
 'Drama, Family, Music' 'Action, Mystery, Thriller'
 'Action, Drama, Family' 'Action, Mystery' 'Drama, History, Romance'
 'Crime, Drama, Music' 'Sci-Fi' 'Animation' 'Crime, Mystery, Romance'
 'Action, Adventure, Romance' 'Music, Romance' 'Action, Comedy, Crime'
 'Comedy, Family, Fantasy' 'Romance, Drama' 'Drama, Family, Romance'
 'Romance, Drama, Family' 'Musical, Romance, Thriller'
 'Family, Musical, Romance' 'Action, Drama, Fantasy' 'Family, Drama'
 'Crime, Drama, Romance' 'Musical, Drama, Romance' 'Drama, Music, Musical'
 'Drama, Mystery' 'Adventure, Comedy, Romance' 'Crime, Drama, Horror'
 'Family, Music, Musical' 'Action, Musical, Thriller'
 'Action, Romance, Thriller' 'Romance, Thriller' 'Drama, Music'
 'Crime, Drama, Musical' 'Action, Crime, Mystery'
 'Action, Adventure, Thriller' 'Comedy, Romance, Sci-Fi' 'Crime'
 'Action, Drama, Mystery' 'Action, Comedy, Thriller' 'Biography, Drama'
 'Action, Comedy, Fantasy' 'Drama, Family, Horror'
 'Action, Adventure, Family' 'Documentary, Biography, Musical'
 'Action, Drama, Musical' 'Adventure, Thriller' 'Crime, Mystery'
 'Drama, Crime' 'Drama, Fantasy, Romance' 'Comedy, Romance, Thriller'
 'Musical, Comedy, Drama' 'Biography, History, War'
 'Action, Comedy, Romance' 'Drama, History, Musical'
 'Action, Crime, Horror' 'Adventure, Fantasy' 'Adventure, Drama, Fantasy'
 'Adventure, Fantasy, Romance' 'Action, Adventure, Drama'
 'Action, Adventure' 'Comedy, Crime' 'Crime, Drama, Fantasy'
 'Adventure, Drama, Romance' 'History' 'Drama, Fantasy, Thriller'
 'Musical, Fantasy' 'Documentary, Thriller' 'Mystery, Romance, Musical'
 'Family, Drama, Romance' 'History, Musical, Romance'
 'Musical, Drama, Crime' 'Adventure, Crime, Romance'
 'Musical, Thriller, Mystery' 'Drama, Comedy' 'Biography, Drama, Romance'
 'Biography, Music' 'Biography, Drama, Music' 'Drama, Sci-Fi'
 'Drama, Family, Thriller' 'Comedy, Musical, Romance'
 'Drama, Family, Comedy' 'Action, Thriller, Romance'
 'Animation, Adventure' 'Action, Crime, Musical' 'Action, Crime, Romance'
 'Animation, Action, Adventure' 'Action, Drama, Sport' 'Comedy, History'
 'Documentary, History' 'Drama, Comedy, Family' 'Action, Adventure, Crime'
 'Documentary, Biography, Music' 'Comedy, Musical'
 'Biography, Crime, Thriller' 'Adventure, Mystery, Thriller'
 'Biography, Drama, Sport' 'Action, Comedy, Musical'
 'Mystery, Romance, Thriller' 'Action, Adventure, Musical'
 'Crime, Musical, Mystery' 'Action, Thriller, Crime'
 'Adventure, Comedy, Crime' 'Comedy, Horror, Musical' 'Adventure, Family'
 'Family, Thriller' 'Drama, Action, Crime' 'Drama, War'
 'Action, Drama, Adventure' 'Adventure, Fantasy, History'
 'Fantasy, Musical' 'Comedy, Drama, Thriller' 'Drama, Fantasy'
 'Musical, Drama' 'Action, Drama, Horror' 'Biography, Crime, Drama'
 'Action, Drama, Music' 'Adventure, Drama, Family'
 'Drama, Romance, Musical' 'Comedy, Musical, Drama'
 'Adventure, Comedy, Musical' 'Crime, Drama, Family'
 'Thriller, Musical, Mystery' 'Documentary, Adventure, Crime'
 'Drama, Action, Horror' 'Adventure, Crime, Drama'
 'Documentary, Biography, Sport' 'Crime, Fantasy, Mystery'
 'Documentary, Biography, Drama' 'Action, Fantasy, Thriller'
 'Adventure, Drama, History' 'Animation, Drama, History'
 'Comedy, Horror, Thriller' 'Drama, Family, History' 'Animation, History'
 'Biography, Drama, Musical' 'Music' 'Family, Comedy' 'Adventure, Mystery'
 'Family, Fantasy' 'Documentary, History, News' 'Drama, Mystery, Romance'
 'Comedy, Fantasy' 'Action, Crime, Family' 'Drama, Musical, Mystery'
 'Action, Thriller, Mystery' 'Drama, Family, Fantasy' 'Action, Family'
 'Action, Adventure, Mystery' 'Horror, Fantasy' 'Comedy, Action'
 'Adventure, Romance' 'Drama, Adventure' 'Animation, Drama, Romance'
 'Comedy, Crime, Romance' 'Adventure, Comedy' 'Comedy, Drama, Sport'
 'Documentary, Crime, History' 'Musical, Mystery, Drama'
 'Adventure, Drama, Sci-Fi' 'Action, Romance, Western'
 'Comedy, Fantasy, Romance' 'Animation, Action, Comedy'
 'Drama, Fantasy, Sci-Fi' 'Drama, Horror' 'Family, Drama, Comedy'
 'Action, Adventure, History' 'Comedy, Family, Romance'
 'Biography, History' 'Animation, Family' 'Drama, Fantasy, History'
 'Animation, Adventure, Fantasy' 'Adventure, Comedy, Family'
 'Drama, History, War' 'Animation, Drama, Fantasy'
 'Action, Musical, Romance' 'Crime, Action, Drama'
 'Comedy, Romance, Musical' 'Fantasy, Drama' 'Musical, Action, Crime'
 'Documentary, Drama' 'Action, Horror, Thriller' 'Action, Horror, Sci-Fi'
 'Mystery, Sci-Fi, Thriller' 'Biography, Family' 'Drama, Action, Comedy'
 'Drama, Music, Romance' 'Action, Biography, Crime'
 'Adventure, Drama, Musical' 'Family, Music, Romance'
 'Fantasy, Mystery, Romance' 'Drama, Crime, Family'
 'Drama, Family, Action' 'Romance, Comedy, Drama'
 'Animation, Adventure, Comedy' 'Sci-Fi, Thriller'
 'Romance, Family, Drama' 'Action, Family, Thriller'
 'Adventure, Crime, Thriller' 'Drama, Romance, Sport'
 'Comedy, Crime, Mystery' 'Adventure, Comedy, Mystery' 'Action, Fantasy'
 'Comedy, Mystery' 'Animation, Adventure, Family'
 'Adventure, Drama, Music' 'Biography, Drama, War'
 'Documentary, Comedy, Drama' 'Musical, Drama, Family'
 'Animation, Comedy, Drama' 'Fantasy, Musical, Drama'
 'Adventure, Crime, Mystery' 'Comedy, Drama, Mystery' 'Documentary, News'
 'Drama, Musical, Family' 'Action, Romance, Drama'
 'Comedy, Crime, Thriller' 'Action, Musical' 'Action, History'
 'Action, Comedy, Mystery' 'Drama, Family, Mystery'
 'Adventure, Drama, Thriller' 'Documentary, Reality-TV'
 'Action, Fantasy, Horror' 'Drama, History, Thriller'
 'Documentary, Family' 'Documentary, Biography, Family' 'Comedy, Sport'
 'Animation, Comedy, Family' 'Crime, Romance, Thriller'
 'Comedy, Musical, Action' 'Action, Mystery, Sci-Fi'
 'Comedy, Crime, Musical' 'Drama, Adventure, Action' 'History, Romance'
 'Reality-TV' 'Fantasy, History' 'Family, Drama, Thriller'
 'Musical, Mystery, Thriller' 'Musical, Comedy, Romance'
 'Musical, Action, Drama' 'Action, Musical, War' 'Romance, Comedy'
 'Horror, Crime, Thriller' 'Crime, Drama, History' 'Comedy, Drama, Horror'
 'Crime, Horror, Thriller' 'Animation, Comedy' 'Romance, Action, Crime'
 'Musical, Thriller' 'Action, Romance, Comedy' 'Comedy, Family, Musical'
 'Horror, Drama, Mystery' 'Thriller, Mystery, Family'
 'Comedy, Drama, Sci-Fi' 'Documentary, Adventure'
 'Documentary, Biography, Crime' 'Musical, Action' 'Musical, Mystery'
 'Action, Crime, Sci-Fi' 'Action, Horror, Mystery' 'Fantasy, Horror'
 'Adventure, Family, Fantasy' 'Fantasy, Sci-Fi' 'Comedy, War'
 'Romance, Action, Drama' 'Musical, Family, Romance'
 'Romance, Drama, Action' 'Family, Comedy, Drama' 'Comedy, Music, Romance'
 'Comedy, Family, Sci-Fi' 'Action, Drama, Western'
 'Adventure, Romance, Thriller' 'Biography, Comedy, Drama'
 'Action, Mystery, Romance' 'Romance, Sport' 'Crime, Romance'
 'Action, Thriller, Western' 'Crime, Musical, Romance'
 'Romance, Thriller, Mystery' 'Drama, Crime, Mystery'
 'Biography, Drama, Family' 'Action, Family, Mystery'
 'Comedy, Mystery, Romance' 'Drama, Thriller, Action' 'Documentary, Short'
 'Documentary, Western' 'Musical, Family, Drama' 'Action, Family, Musical'
 'Animation, Family, Musical' 'Drama, Fantasy, Horror'
 'Action, Adventure, Sci-Fi' 'Drama, Action, Musical'
 'Drama, Musical, Sport' 'Action, Comedy, Horror'
 'Drama, Fantasy, Musical' 'Action, Fantasy, Musical' 'Animation, Action'
 'Comedy, Music' 'Documentary, Drama, Romance' 'Drama, Music, Thriller'
 'Fantasy, Musical, Mystery' 'Drama, Fantasy, War' 'Action, War'
 'Action, Adventure, War' 'Horror, Musical' 'Fantasy, Mystery, Thriller'
 'Adventure, Biography, Drama' 'Family, Romance, Sci-Fi'
 'Drama, Romance, Family' 'Animation, Adventure, Drama'
 'Family, Romance, Drama' 'Animation, Action, Sci-Fi'
 'Adventure, Comedy, Fantasy' 'Comedy, Crime, Family'
 'Horror, Musical, Thriller' 'Biography, Drama, Thriller' 'Drama, Western'
 'Romance, Sci-Fi, Thriller' 'Comedy, Musical, Family'
 'Comedy, Horror, Romance' 'Thriller, Action' 'Fantasy, Thriller, Action'
 'Fantasy, Romance' 'Action, Drama, Comedy' 'Family, Fantasy, Romance'
 'Comedy, Crime, Horror' 'Horror, Mystery, Sci-Fi'
 'Animation, Action, Drama' 'Family, Mystery'
 'Adventure, Biography, History' 'Fantasy, Horror, Mystery'
 'Family, Musical' 'Drama, Family, Adventure' 'Crime, Horror, Mystery'
 'Documentary, Drama, Fantasy' 'Action, Adventure, Biography'
 'Biography, History, Thriller' 'Action, Family, Drama'
 'Documentary, Drama, Sport' 'Thriller, Mystery' 'Musical, Drama, Comedy'
 'Documentary, History, War' 'Adventure, Horror, Thriller'
 'Action, Adventure, Horror' 'Action, Crime, War'
 'Adventure, Musical, Romance' 'Action, Fantasy, Sci-Fi'
 'Drama, Comedy, Action' 'Documentary, Sport'
 'Documentary, Adventure, Music' 'Drama, Action, Family'
 'Adventure, History, Thriller' 'Adventure, Horror, Romance'
 'Adventure, Crime, Horror' 'Mystery, Musical, Romance'
 'Action, Crime, History' 'Documentary, Musical'
 'Adventure, Fantasy, Musical' 'Documentary, Family, History'
 'Documentary, Drama, Family' 'Drama, Mystery, Sci-Fi'
 'Animation, Drama, Musical' 'Drama, History, Mystery'
 'Drama, Sport, Thriller' 'Action, Crime, Fantasy'
 'Comedy, Musical, Mystery' 'Romance, Musical, Action'
 'Musical, Drama, Fantasy' 'Animation, Family, History'
 'Action, Drama, News' 'Romance, Musical, Comedy'
 'Adventure, Fantasy, Horror' 'Adventure, History'
 'Comedy, Drama, History' 'Mystery, Sci-Fi' 'Action, Thriller, War'
 'Documentary, Drama, News' 'Documentary, Crime, Mystery'
 'Adventure, Horror' 'Animation, Drama, Adventure'
 'Crime, Horror, Romance' 'Documentary, Adventure, Drama'
 'Documentary, Biography, History' 'Fantasy, Horror, Romance'
 'Comedy, Fantasy, Musical' 'Crime, Musical, Thriller' 'Documentary, War'
 'Action, Comedy, War' 'Crime, Drama, Sport' 'Musical, Adventure, Drama'
 'Horror, Romance, Sci-Fi' 'Musical, Mystery, Romance'
 'Romance, Musical, Drama' 'Adventure, Fantasy, Sci-Fi']
Genre
Action                          1289
Action, Adventure                 41
Action, Adventure, Biography       1
Action, Adventure, Comedy         42
Action, Adventure, Crime          19
                                ...
Thriller, Action                   2
Thriller, Musical, Mystery         1
Thriller, Mystery                  3
Thriller, Mystery, Family          1
War                                8
Name: Name, Length: 485, dtype: int64
Genre
Drama                   2780
Action                  1289
Thriller                 779
Romance                  708
Drama, Romance           524
Comedy                   495
Action, Crime, Drama     455
Drama, Family            418
Horror                   322
Action, Drama            316
Name: Name, dtype: int64

In [16]:
# prompt: movies_india: split value in column genre by ',' and make more column for each of those

# Split the 'Genre' column by ',' and create new columns
movies_india[['Genre1', 'Genre2', 'Genre3']] = movies_india['Genre'].str.split(',', expand=True).fillna('Unknown')

# Display the updated dataframe
movies_india.head()

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3,Genre1,Genre2,Genre3
0,Unknown,Unknown,Unknown,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia,Drama,Unknown,Unknown
1,#Gadhvi (He thought he was Gandhi),2019,109,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid,Drama,Unknown,Unknown
2,#Homecoming,2021,90,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana,Drama,Musical,Unknown
3,#Yaaram,2019,110,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor,Comedy,Romance,Unknown
4,...And Once Again,2010,105,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali,Drama,Unknown,Unknown

In [17]:
# prompt: Using dataframe movies_india: ‡πÄ‡πÄ‡∏ó‡∏ô‡∏Ñ‡πà‡∏≤ missing ‡∏Ç‡∏≠‡∏á‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå Rating,	Votes,	Director, Actor 1, Actor 2, Actor 3 ‡∏î‡πâ‡∏ß‡∏¢ Unknown

# Replace missing values in specified columns with "Unknown"
columns_to_fill = ['Rating', 'Votes', 'Director', 'Actor 1', 'Actor 2', 'Actor 3']
for column in columns_to_fill:
  movies_india[column] = movies_india[column].fillna('Unknown')
movies_india

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3,Genre1,Genre2,Genre3
0,Unknown,Unknown,Unknown,Drama,Unknown,Unknown,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia,Drama,Unknown,Unknown
1,#Gadhvi (He thought he was Gandhi),2019,109,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid,Drama,Unknown,Unknown
2,#Homecoming,2021,90,"Drama, Musical",Unknown,Unknown,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana,Drama,Musical,Unknown
3,#Yaaram,2019,110,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor,Comedy,Romance,Unknown
4,...And Once Again,2010,105,Drama,Unknown,Unknown,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali,Drama,Unknown,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15504,Zulm Ko Jala Doonga,1988,Unknown,Action,4.6,11,Mahendra Shah,Naseeruddin Shah,Sumeet Saigal,Suparna Anand,Action,Unknown,Unknown
15505,Zulmi,1999,129,"Action, Drama",4.5,655,Kuku Kohli,Akshay Kumar,Twinkle Khanna,Aruna Irani,Action,Drama,Unknown
15506,Zulmi Raj,2005,Unknown,Action,Unknown,Unknown,Kiran Thej,Sangeeta Tiwari,Unknown,Unknown,Action,Unknown,Unknown
15507,Zulmi Shikari,1988,Unknown,Action,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Action,Unknown,Unknown
15508,Zulm-O-Sitam,1998,130,"Action, Drama",6.2,20,K.C. Bokadia,Dharmendra,Jaya Prada,Arjun Sarja,Action,Drama,Unknown

In [18]:
# prompt: Using dataframe movies_india:  ‡πÄ‡∏ä‡πá‡∏Å‡∏Ñ‡πà‡∏≤ missing  ‡∏ï‡∏≤‡∏£‡∏≤‡∏á

# Check for missing values in the dataframe
missing_values = movies_india.isnull().sum()

# Display the count of missing values for each column
print(missing_values)

Name           0
Year           0
Duration       0
Genre       1877
Rating         0
Votes          0
Director       0
Actor 1        0
Actor 2        0
Actor 3        0
Genre1         0
Genre2         0
Genre3         0
dtype: int64

In [19]:
movies_india.to_csv('2_movies_india_managed.csv', index=False)

## Indian_director table

In [20]:
# prompt: open csv file name  indian_director.csv and set csv variable name is  indian_director
import pandas as pd
indian_director = pd.read_csv('indian_director.csv')
print(indian_director.shape)
indian_director.head()

(47, 8)

,Position,Const,Created,Modified,Description,Name,Known For,Birth Date
0,1,nm0440604,2015-06-02,2015-06-02,NaN,Anurag Kashyap,Gangs of Wasseypur,10 September 1972
1,2,nm0080220,2015-06-02,2015-06-02,NaN,Sanjay Leela Bhansali,Bajirao Mastani,24 February 1963
2,3,nm2209781,2015-06-02,2015-06-02,NaN,Ayan Mukerji,Brahmastra Part One: Shiva,15 August 1983
3,4,nm1027719,2015-06-02,2015-06-02,NaN,Farhan Akhtar,Zindagi Na Milegi Dobara,9 January 1974
4,5,nm0451148,2015-06-02,2015-06-02,NaN,Aamir Khan,Taare Zameen Par,14 March 1965

In [21]:
# prompt: Using dataframe indian_director: ‡πÄ‡∏ä‡πá‡∏Å‡∏Ñ‡πà‡∏≤ missing  ‡∏ï‡∏≤‡∏£‡∏≤‡∏á

# Check for missing values in the dataframe
missing_values = indian_director.isnull().sum()

# Display the count of missing values for each column
print(missing_values)

Position        0
Const           0
Created         0
Modified        0
Description    47
Name            0
Known For       0
Birth Date      8
dtype: int64

### Column: "Birth Date"

In [22]:
# prompt: Using dataframe indian_director: Want to separate data in "Birth Date" column into 3 columns according to Day, Month, Year. Replace columns with month names.

# Convert 'Birth Date' to datetime objects, handling potential errors
indian_director['Birth Date'] = pd.to_datetime(indian_director['Birth Date'], errors='coerce')

# Extract day, month, and year from 'Birth Date'
indian_director['Birth_Day'] = indian_director['Birth Date'].dt.day
indian_director['Birth_Month'] = indian_director['Birth Date'].dt.month
indian_director['Birth_Year'] = indian_director['Birth Date'].dt.year

# Replace month numbers with month names
month_names = {
    1: 'January', 2: 'February', 3: 'March', 4: 'April', 5: 'May', 6: 'June',
    7: 'July', 8: 'August', 9: 'September', 10: 'October', 11: 'November', 12: 'December'
}
indian_director['Birth_Month'] = indian_director['Birth_Month'].map(month_names)
indian_director.head()

,Position,Const,Created,Modified,Description,Name,Known For,Birth Date,Birth_Day,Birth_Month,Birth_Year
0,1,nm0440604,2015-06-02,2015-06-02,NaN,Anurag Kashyap,Gangs of Wasseypur,1972-09-10,10.0,September,1972.0
1,2,nm0080220,2015-06-02,2015-06-02,NaN,Sanjay Leela Bhansali,Bajirao Mastani,1963-02-24,24.0,February,1963.0
2,3,nm2209781,2015-06-02,2015-06-02,NaN,Ayan Mukerji,Brahmastra Part One: Shiva,1983-08-15,15.0,August,1983.0
3,4,nm1027719,2015-06-02,2015-06-02,NaN,Farhan Akhtar,Zindagi Na Milegi Dobara,1974-01-09,9.0,January,1974.0
4,5,nm0451148,2015-06-02,2015-06-02,NaN,Aamir Khan,Taare Zameen Par,1965-03-14,14.0,March,1965.0

In [23]:
# prompt: Using dataframe indian_director: ‡πÄ‡∏ä‡πá‡∏Å‡∏Ñ‡πà‡∏≤ missing  ‡∏Ç‡∏≠‡∏á‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå Birth Date ‡πÅ‡∏•‡∏∞ ‡πÅ‡∏ó‡∏ô‡∏Ñ‡πà‡∏≤‡∏î‡πâ‡∏ß‡∏¢‡∏ï‡∏±‡∏ß‡πÅ‡∏õ‡∏£ Unknown

# Check for missing values in 'Birth Date' column
missing_birth_date = indian_director['Birth Date'].isnull().sum()
print(f"Number of missing values in 'Birth Date': {missing_birth_date}")

# Fill missing values with 'Unknown'
indian_director['Birth Date'] = indian_director['Birth Date'].fillna('Unknown')
indian_director['Birth_Day'] = indian_director['Birth_Day'].fillna('Unknown')
indian_director['Birth_Month'] = indian_director['Birth_Month'].fillna('Unknown')
indian_director['Birth_Year'] = indian_director['Birth_Year'].fillna('Unknown')
# Verify the changes
missing_birth_date_after_fill = indian_director['Birth Date'].isnull().sum()
print(f"Number of missing values in 'Birth Date' after filling: {missing_birth_date_after_fill}")

Number of missing values in 'Birth Date': 8
Number of missing values in 'Birth Date' after filling: 0

In [ ]:
# director_Unknown_Name = indian_director[indian_director['Birth Date'] == 'Unknown']

In [24]:
# prompt: indian_director: ‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡∏ä‡∏∑‡πà‡∏≠‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå Name ‡πÄ‡∏õ‡πá‡∏ô‡∏ä‡∏∑‡πà‡∏≠‡πÉ‡∏´‡∏°‡πà‡∏Ñ‡∏∑‡∏≠ Director_name

indian_director = indian_director.rename(columns={'Name': 'Director_name'})
indian_director.head()

,Position,Const,Created,Modified,Description,Director_name,Known For,Birth Date,Birth_Day,Birth_Month,Birth_Year
0,1,nm0440604,2015-06-02,2015-06-02,NaN,Anurag Kashyap,Gangs of Wasseypur,1972-09-10 00:00:00,10.0,September,1972.0
1,2,nm0080220,2015-06-02,2015-06-02,NaN,Sanjay Leela Bhansali,Bajirao Mastani,1963-02-24 00:00:00,24.0,February,1963.0
2,3,nm2209781,2015-06-02,2015-06-02,NaN,Ayan Mukerji,Brahmastra Part One: Shiva,1983-08-15 00:00:00,15.0,August,1983.0
3,4,nm1027719,2015-06-02,2015-06-02,NaN,Farhan Akhtar,Zindagi Na Milegi Dobara,1974-01-09 00:00:00,9.0,January,1974.0
4,5,nm0451148,2015-06-02,2015-06-02,NaN,Aamir Khan,Taare Zameen Par,1965-03-14 00:00:00,14.0,March,1965.0

### Create a column: Director Age

In [25]:
# prompt: Using dataframe indian_director: ‡∏™‡∏£‡πâ‡∏≤‡∏á‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå ‡∏≠‡∏≤‡∏¢‡∏∏‡∏Ç‡∏≠‡∏á director ‡∏à‡∏≤‡∏Å‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå  Birth Date

# Convert 'Birth Date' to datetime objects
import pandas as pd
indian_director['Birth Date'] = pd.to_datetime(indian_director['Birth Date'], errors='coerce')

# Calculate age based on today's date
today = pd.to_datetime('today')
indian_director['Age'] = (today - indian_director['Birth Date']).dt.days // 365
indian_director['Age'] = indian_director['Age'].fillna('Unknown')
missing_birth_date_after_fill = indian_director['Age'].isnull().sum()
print(f"Number of missing values in 'Age': {missing_birth_date_after_fill}")
indian_director.head()

Number of missing values in 'Age': 0

,Position,Const,Created,Modified,Description,Director_name,Known For,Birth Date,Birth_Day,Birth_Month,Birth_Year,Age
0,1,nm0440604,2015-06-02,2015-06-02,NaN,Anurag Kashyap,Gangs of Wasseypur,1972-09-10,10.0,September,1972.0,52.0
1,2,nm0080220,2015-06-02,2015-06-02,NaN,Sanjay Leela Bhansali,Bajirao Mastani,1963-02-24,24.0,February,1963.0,61.0
2,3,nm2209781,2015-06-02,2015-06-02,NaN,Ayan Mukerji,Brahmastra Part One: Shiva,1983-08-15,15.0,August,1983.0,41.0
3,4,nm1027719,2015-06-02,2015-06-02,NaN,Farhan Akhtar,Zindagi Na Milegi Dobara,1974-01-09,9.0,January,1974.0,50.0
4,5,nm0451148,2015-06-02,2015-06-02,NaN,Aamir Khan,Taare Zameen Par,1965-03-14,14.0,March,1965.0,59.0

In [27]:
indian_director['Age']

0        52.0
1        61.0
2        41.0
3        50.0
4        59.0
5        57.0
6        51.0
7        52.0
8        61.0
9        53.0
10       47.0
11    Unknown
12       62.0
13       61.0
14    Unknown
15       53.0
16       43.0
17       68.0
18       50.0
19       76.0
20       59.0
21       50.0
22       50.0
23       92.0
24       51.0
25       61.0
26       53.0
27       69.0
28       58.0
29       56.0
30       72.0
31       75.0
32       60.0
33       65.0
34    Unknown
35       59.0
36       53.0
37       52.0
38       52.0
39    Unknown
40       53.0
41    Unknown
42    Unknown
43       58.0
44    Unknown
45    Unknown
46       58.0
Name: Age, dtype: object

In [28]:
indian_director.to_csv('0_indian_director_managed.csv', index=False)

### Merge table between "movies_india" and "indian_director" **main

In [29]:
# prompt: open csv file name IMDb Movies India.csv and set csv variable name is  movies_india
import pandas as pd
movies_india_managed = pd.read_csv("2_movies_india_managed.csv", encoding='latin-1') # Try reading the file with 'latin-1' encoding.
print(movies_india_managed.shape)
movies_india_managed.head()

(15509, 13)

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3,Genre1,Genre2,Genre3
0,Unknown,Unknown,Unknown,Drama,Unknown,Unknown,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia,Drama,Unknown,Unknown
1,#Gadhvi (He thought he was Gandhi),2019,109,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid,Drama,Unknown,Unknown
2,#Homecoming,2021,90,"Drama, Musical",Unknown,Unknown,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana,Drama,Musical,Unknown
3,#Yaaram,2019,110,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor,Comedy,Romance,Unknown
4,...And Once Again,2010,105,Drama,Unknown,Unknown,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali,Drama,Unknown,Unknown

In [30]:
# prompt: Using dataframe movies_india_managed: group by column "Director " sort by mean column 'Rating', 'Duration', 'Votes'

# Check for non-numeric values in the relevant columns and handle them.
for col in ['Rating', 'Duration', 'Votes']:
    # Convert any non-numeric values to NaN
    movies_india_managed[col] = pd.to_numeric(movies_india_managed[col], errors='coerce')

# Group by 'Director' and calculate the mean of 'Rating', 'Duration', and 'Votes'.
df_mean = movies_india_managed.groupby('Director').agg({'Rating': 'mean', 'Duration': 'mean', 'Votes': 'mean'})

df_mean = df_mean.reset_index()

# Display the result.
df_mean

            Director    Rating    Duration      Votes
0          A B Arjun       NaN         NaN        NaN
1       A. Bhimsingh  6.776471  151.214286  82.941176
2           A. Habib       NaN         NaN        NaN
3     A. Jagannathan  5.833333  141.000000  74.333333
4           A. Karim       NaN         NaN        NaN
...              ...       ...         ...        ...
5934     Zoya Akhtar  6.800000  146.571429        NaN
5935     Zubair Khan  6.900000  113.000000  68.500000
5936         Zubeida       NaN         NaN        NaN
5937     Zul Vellani       NaN         NaN        NaN
5938    Zunaid Memon  6.400000  144.000000  84.000000

[5939 rows x 4 columns]

In [31]:
# group by column "Director " sort by count column "Name"
movies_number =  movies_india_managed.groupby(['Director'])[['Name']].count()
movies_number = movies_number.reset_index()
movies_number

            Director  Name
0          A B Arjun     1
1       A. Bhimsingh    18
2           A. Habib     1
3     A. Jagannathan     5
4           A. Karim     1
...              ...   ...
5934     Zoya Akhtar     7
5935     Zubair Khan     2
5936         Zubeida     2
5937     Zul Vellani     1
5938    Zunaid Memon     1

[5939 rows x 2 columns]

In [32]:
indian_director['movies_number'] = indian_director['Director_name'].map(movies_number.set_index('Director')['Name'])
indian_director['Rating_mean'] = indian_director['Director_name'].map(df_mean.set_index('Director')['Rating'])
indian_director['Duration_mean'] = indian_director['Director_name'].map(df_mean.set_index('Director')['Duration'])
indian_director['Votes_mean'] = indian_director['Director_name'].map(df_mean.set_index('Director')['Votes'])
indian_director

,Position,Const,Created,Modified,Description,Director_name,Known For,Birth Date,Birth_Day,Birth_Month,Birth_Year,Age,movies_number,Rating_mean,Duration_mean,Votes_mean
0,1,nm0440604,2015-06-02,2015-06-02,NaN,Anurag Kashyap,Gangs of Wasseypur,1972-09-10,10.0,September,1972.0,52.0,15.0,7.385714,146.642857,693.000000
1,2,nm0080220,2015-06-02,2015-06-02,NaN,Sanjay Leela Bhansali,Bajirao Mastani,1963-02-24,24.0,February,1963.0,61.0,11.0,7.122222,153.777778,NaN
2,3,nm2209781,2015-06-02,2015-06-02,NaN,Ayan Mukerji,Brahmastra Part One: Shiva,1983-08-15,15.0,August,1983.0,41.0,NaN,NaN,NaN,NaN
3,4,nm1027719,2015-06-02,2015-06-02,NaN,Farhan Akhtar,Zindagi Na Milegi Dobara,1974-01-09,9.0,January,1974.0,50.0,4.0,7.575000,172.000000,NaN
4,5,nm0451148,2015-06-02,2015-06-02,NaN,Aamir Khan,Taare Zameen Par,1965-03-14,14.0,March,1965.0,59.0,1.0,8.400000,165.000000,NaN
5,6,nm0223606,2015-06-02,2015-06-02,NaN,Tigmanshu Dhulia,Gangs of Wasseypur,1967-07-03,3.0,July,1967.0,57.0,13.0,6.425000,130.833333,409.600000
6,7,nm0015295,2015-06-02,2015-06-02,NaN,Zoya Akhtar,Zindagi Na Milegi Dobara,1972-10-14,14.0,October,1972.0,51.0,7.0,6.800000,146.571429,NaN
7,8,nm0424103,2015-06-02,2015-06-02,NaN,Karan Johar,Kabhi Khushi Kabhie Gham...,1972-05-25,25.0,May,1972.0,52.0,7.0,6.700000,174.833333,NaN
8,9,nm1018493,2015-06-02,2015-06-02,NaN,Rakeysh Omprakash Mehra,Rang De Basanti,1963-07-07,7.0,July,1963.0,61.0,7.0,6.483333,148.000000,115.000000
9,10,nm0438461,2015-06-02,2015-06-02,NaN,Abhishek Kapoor,Kai po che!,1971-08-06,6.0,August,1971.0,53.0,6.0,6.440000,129.400000,307.000000
10,11,nm2955107,2015-06-02,2015-06-02,NaN,Raj Kumar Gupta,No One Killed Jessica,1977-09-08,8.0,September,1977.0,47.0,6.0,6.520000,123.400000,NaN
11,12,nm1223294,2015-06-02,2015-06-02,NaN,Homi Adajania,Being Cyrus,NaT,Unknown,Unknown,Unknown,Unknown,3.0,6.433333,131.000000,NaN
12,13,nm0890060,2015-06-02,2015-06-02,NaN,Ram Gopal Varma,Rangeela,1962-04-07,7.0,April,1962.0,62.0,39.0,5.491176,128.764706,527.333333
13,14,nm0386246,2015-06-02,2015-06-02,NaN,Rajkumar Hirani,PK,1962-11-20,20.0,November,1962.0,61.0,5.0,8.060000,155.600000,NaN
14,15,nm1999473,2015-06-02,2015-06-02,NaN,Shoojit Sircar,Piku,NaT,Unknown,Unknown,Unknown,Unknown,7.0,7.500000,126.666667,29.000000
15,16,nm0159147,2015-06-02,2015-06-02,NaN,Aditya Chopra,Dilwale Dulhania Le Jayenge,1971-05-21,21.0,May,1971.0,53.0,4.0,6.575000,173.500000,NaN
16,17,nm1887138,2015-06-02,2015-06-02,NaN,Mohit Suri,Aashiqui 2,1981-04-11,11.0,April,1981.0,43.0,13.0,6.133333,133.250000,NaN
17,18,nm0764316,2015-06-02,2015-06-02,NaN,Rajkumar Santoshi,Andaz Apna Apna,1956-08-17,17.0,August,1956.0,68.0,18.0,6.771429,163.714286,NaN
18,19,nm1397301,2015-06-02,2015-06-02,NaN,Anurag Basu,Ludo,1974-05-08,8.0,May,1974.0,50.0,10.0,6.270000,137.500000,827.000000
19,20,nm0080315,2015-06-02,2015-06-02,NaN,Mahesh Bhatt,Raaz,1948-09-20,20.0,September,1948.0,76.0,48.0,5.414894,138.051282,228.648649
20,21,nm0080235,2015-06-02,2015-06-02,NaN,Vishal Bhardwaj,Haider,1965-08-04,4.0,August,1965.0,59.0,10.0,7.100000,134.900000,NaN
21,22,nm1460159,2015-06-02,2015-06-02,NaN,Rohit Shetty,Sooryavanshi,1974-03-14,14.0,March,1974.0,50.0,16.0,5.730769,146.533333,NaN
22,23,nm3508781,2015-06-02,2015-06-02,NaN,Abhinav Kashyap,Dabangg,1974-09-06,6.0,September,1974.0,50.0,2.0,4.900000,134.500000,NaN
23,24,nm0007181,2015-06-02,2015-06-02,NaN,Yash Chopra,Veer-Zaara,1932-09-27,27.0,September,1932.0,92.0,22.0,6.972727,165.727273,317.666667
24,25,nm0222150,2015-06-02,2015-06-02,NaN,Prabhu Deva,Wanted,1973-04-03,3.0,April,1973.0,51.0,10.0,4.370000,143.900000,311.000000
25,26,nm0063357,2015-06-02,2015-06-02,NaN,Anees Bazmee,Ready,1962-11-01,1.0,November,1962.0,61.0,15.0,5.323077,149.769231,617.500000
26,27,nm1665004,2015-06-02,2015-06-02,NaN,Imtiaz Ali,Jab We Met,1971-06-16,16.0,June,1971.0,53.0,8.0,6.837500,139.875000,NaN
27,28,nm0711745,2015-06-02,2015-06-02,NaN,Mani Ratnam,Ponniyin Selvan: Part One,1955-06-02,2.0,June,1955.0,69.0,5.0,7.025000,155.000000,NaN
28,29,nm1055105,2015-06-02,2015-06-02,NaN,Madhur Bhandarkar,Chandni Bar,1966-08-26,26.0,August,1966.0,58.0,15.0,6.028571,141.153846,377.250000
29,30,nm0527453,2015-06-02,2015-06-02,NaN,Milan Luthria,The Dirty Picture,1968-01-28,28.0,January,1968.0,56.0,10.0,5.766667,138.000000,648.500000
30,31,nm0422552,2015-06-02,2015-06-02,NaN,Prakash Jha,Gangaajal,1952-02-27,27.0,February,1952.0,72.0,24.0,6.375000,147.692308,144.000000
31,32,nm0004363,2015-06-02,2015-06-02,NaN,Rakesh Roshan,Koi... Mil Gaya,1949-09-06,6.0,September,1949.0,75.0,14.0,6.023077,164.846154,378.400000
32,33,nm0332950,2015-06-02,2015-06-02,NaN,Ashutosh Gowariker,"Swades: We, the People",1964-02-15,15.0,February,1964.0,60.0,9.0,6.300000,180.333333,325.000000
33,34,nm0592803,2015-06-02,2015-06-02,NaN,Sudhir Mishra,Hazaaron Khwaishein Aisi,1959-01-22,22.0,January,1959.0,65.0,13.0,6.730769,126.833333,266.125000
34,35,nm0024912,2015-06-02,2015-06-02,NaN,Shimit Amin,Chak De! India,NaT,Unknown,Unknown,Unknown,Unknown,3.0,7.833333,144.000000,NaN
35,36,nm0007134,2015-06-02,2015-06-02,NaN,Farah Khan,Om Shanti Om,1965-01-09,9.0,January,1965.0,59.0,4.0,5.325000,164.000000,NaN
36,37,nm1203138,2015-06-02,2015-06-02,NaN,Kabir Khan,Bajrangi Bhaijaan,1971-09-14,14.0,September,1971.0,53.0,7.0,6.133333,139.285714,NaN
37,38,nm1150656,2015-06-02,2015-06-02,NaN,Remo D'Souza,Bajirao Mastani,1972-04-02,2.0,April,1972.0,52.0,6.0,4.133333,148.500000,NaN
38,39,nm0361407,2015-06-02,2015-06-02,NaN,Jugal Hansraj,Roadside Romeo,1972-07-26,26.0,July,1972.0,52.0,3.0,4.900000,116.500000,NaN
39,40,nm1160374,2015-06-02,2015-06-02,NaN,Tarun Mansukhani,Dostana,NaT,Unknown,Unknown,Unknown,Unknown,3.0,5.000000,146.000000,NaN
40,41,nm0012541,2015-06-02,2015-06-02,NaN,Nikkhil Advani,Kal Ho Naa Ho,1971-04-28,28.0,April,1971.0,53.0,11.0,5.810000,148.400000,NaN
41,42,nm1159647,2015-06-02,2015-06-02,NaN,Punit Malhotra,Kal Ho Naa Ho,NaT,Unknown,Unknown,Unknown,Unknown,3.0,4.233333,141.666667,NaN
42,43,nm2831530,2015-06-02,2015-06-02,NaN,Abhishek Varman,2 States,NaT,Unknown,Unknown,Unknown,Unknown,2.0,5.250000,157.500000,NaN
43,44,nm1223910,2015-06-02,2015-06-02,NaN,Sujoy Ghosh,Kahaani,1966-05-21,21.0,May,1966.0,58.0,6.0,6.233333,132.166667,600.000000
44,45,nm1964923,2015-06-02,2015-06-02,NaN,Habib Faisal,Ishaqzaade,NaT,Unknown,Unknown,Unknown,Unknown,3.0,6.700000,116.666667,NaN
45,46,nm1633551,2015-07-28,2015-07-28,NaN,Karan Malhotra,Agneepath,NaT,Unknown,Unknown,Unknown,Unknown,3.0,6.700000,165.000000,NaN
46,47,nm0618898,2015-09-02,2015-09-02,NaN,Sajid Nadiadwala,Kick,1966-02-18,18.0,February,1966.0,58.0,1.0,5.300000,146.000000,NaN

In [33]:
# Check for missing values in the dataframe
missing_values = indian_director.isnull().sum()

# Display the count of missing values for each column
print(missing_values)

Position          0
Const             0
Created           0
Modified          0
Description      47
Director_name     0
Known For         0
Birth Date        8
Birth_Day         0
Birth_Month       0
Birth_Year        0
Age               0
movies_number     1
Rating_mean       1
Duration_mean     1
Votes_mean       29
dtype: int64

In [34]:
indian_director['Votes_mean'] = indian_director['Votes_mean'].fillna('Unknown')
indian_director['Rating_mean'] = indian_director['Rating_mean'].fillna('Unknown')
indian_director['Duration_mean'] = indian_director['Duration_mean'].fillna('Unknown')
indian_director['movies_number'] = indian_director['movies_number'].fillna('Unknown')

In [35]:
# Check for missing values in the dataframe
missing_values = indian_director.isnull().sum()

# Display the count of missing values for each column
print(missing_values)

Position          0
Const             0
Created           0
Modified          0
Description      47
Director_name     0
Known For         0
Birth Date        8
Birth_Day         0
Birth_Month       0
Birth_Year        0
Age               0
movies_number     0
Rating_mean       0
Duration_mean     0
Votes_mean        0
dtype: int64

In [36]:
indian_director.head()

,Position,Const,Created,Modified,Description,Director_name,Known For,Birth Date,Birth_Day,Birth_Month,Birth_Year,Age,movies_number,Rating_mean,Duration_mean,Votes_mean
0,1,nm0440604,2015-06-02,2015-06-02,NaN,Anurag Kashyap,Gangs of Wasseypur,1972-09-10,10.0,September,1972.0,52.0,15.0,7.385714,146.642857,693.0
1,2,nm0080220,2015-06-02,2015-06-02,NaN,Sanjay Leela Bhansali,Bajirao Mastani,1963-02-24,24.0,February,1963.0,61.0,11.0,7.122222,153.777778,Unknown
2,3,nm2209781,2015-06-02,2015-06-02,NaN,Ayan Mukerji,Brahmastra Part One: Shiva,1983-08-15,15.0,August,1983.0,41.0,Unknown,Unknown,Unknown,Unknown
3,4,nm1027719,2015-06-02,2015-06-02,NaN,Farhan Akhtar,Zindagi Na Milegi Dobara,1974-01-09,9.0,January,1974.0,50.0,4.0,7.575,172.0,Unknown
4,5,nm0451148,2015-06-02,2015-06-02,NaN,Aamir Khan,Taare Zameen Par,1965-03-14,14.0,March,1965.0,59.0,1.0,8.4,165.0,Unknown

In [37]:
indian_director.to_csv('1_indian_director_managed.csv', index=False)

### Merge table between "movies_india"**main and "indian_director"

In [38]:
# prompt: open csv file name IMDb Movies India.csv and set csv variable name is  movies_india
import pandas as pd
indian_director_managed = pd.read_csv("0_indian_director_managed.csv", encoding='latin-1') # Try reading the file with 'latin-1' encoding.
print(indian_director_managed.shape)
indian_director_managed.head()

(47, 12)

,Position,Const,Created,Modified,Description,Director_name,Known For,Birth Date,Birth_Day,Birth_Month,Birth_Year,Age
0,1,nm0440604,2015-06-02,2015-06-02,NaN,Anurag Kashyap,Gangs of Wasseypur,1972-09-10,10.0,September,1972.0,52.0
1,2,nm0080220,2015-06-02,2015-06-02,NaN,Sanjay Leela Bhansali,Bajirao Mastani,1963-02-24,24.0,February,1963.0,61.0
2,3,nm2209781,2015-06-02,2015-06-02,NaN,Ayan Mukerji,Brahmastra Part One: Shiva,1983-08-15,15.0,August,1983.0,41.0
3,4,nm1027719,2015-06-02,2015-06-02,NaN,Farhan Akhtar,Zindagi Na Milegi Dobara,1974-01-09,9.0,January,1974.0,50.0
4,5,nm0451148,2015-06-02,2015-06-02,NaN,Aamir Khan,Taare Zameen Par,1965-03-14,14.0,March,1965.0,59.0

In [39]:
movies_number.head()

         Director  Name
0       A B Arjun     1
1    A. Bhimsingh    18
2        A. Habib     1
3  A. Jagannathan     5
4        A. Karim     1

In [40]:
df_mean.head()

         Director    Rating    Duration      Votes
0       A B Arjun       NaN         NaN        NaN
1    A. Bhimsingh  6.776471  151.214286  82.941176
2        A. Habib       NaN         NaN        NaN
3  A. Jagannathan  5.833333  141.000000  74.333333
4        A. Karim       NaN         NaN        NaN

In [41]:
df_mean = df_mean.rename(columns={'Rating': 'Rating_mean','Duration': 'Duration_mean', 'Votes': 'Votes_mean'})
df_mean['movies_number'] = df_mean['Director'].map(movies_number.set_index('Director')['Name'])
df_mean

            Director  Rating_mean  Duration_mean  Votes_mean  movies_number
0          A B Arjun          NaN            NaN         NaN              1
1       A. Bhimsingh     6.776471     151.214286   82.941176             18
2           A. Habib          NaN            NaN         NaN              1
3     A. Jagannathan     5.833333     141.000000   74.333333              5
4           A. Karim          NaN            NaN         NaN              1
...              ...          ...            ...         ...            ...
5934     Zoya Akhtar     6.800000     146.571429         NaN              7
5935     Zubair Khan     6.900000     113.000000   68.500000              2
5936         Zubeida          NaN            NaN         NaN              2
5937     Zul Vellani          NaN            NaN         NaN              1
5938    Zunaid Memon     6.400000     144.000000   84.000000              1

[5939 rows x 5 columns]

In [42]:
merged_df = df_mean.merge(indian_director_managed, left_on='Director', right_on='Director_name', how='left')
merged_df

,Director,Rating_mean,Duration_mean,Votes_mean,movies_number,Position,Const,Created,Modified,Description,Director_name,Known For,Birth Date,Birth_Day,Birth_Month,Birth_Year,Age
0,A B Arjun,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A. Bhimsingh,6.776471,151.214286,82.941176,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A. Habib,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A. Jagannathan,5.833333,141.000000,74.333333,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A. Karim,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5934,Zoya Akhtar,6.800000,146.571429,NaN,7,7.0,nm0015295,2015-06-02,2015-06-02,NaN,Zoya Akhtar,Zindagi Na Milegi Dobara,1972-10-14,14.0,October,1972.0,51.0
5935,Zubair Khan,6.900000,113.000000,68.500000,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5936,Zubeida,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5937,Zul Vellani,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5938,Zunaid Memon,6.400000,144.000000,84.000000,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
# prompt: Using dataframe merged_df: ‡πÄ‡∏ï‡∏¥‡∏°‡∏Ñ‡πà‡∏≤ missing ‡∏î‡πâ‡∏ß‡∏¢ Unknown

# Fill missing values in all columns with 'Unknown'
merged_df = merged_df.fillna('Unknown')
merged_df

,Director,Rating_mean,Duration_mean,Votes_mean,movies_number,Position,Const,Created,Modified,Description,Director_name,Known For,Birth Date,Birth_Day,Birth_Month,Birth_Year,Age
0,A B Arjun,Unknown,Unknown,Unknown,1,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
1,A. Bhimsingh,6.776471,151.214286,82.941176,18,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
2,A. Habib,Unknown,Unknown,Unknown,1,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
3,A. Jagannathan,5.833333,141.0,74.333333,5,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
4,A. Karim,Unknown,Unknown,Unknown,1,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5934,Zoya Akhtar,6.8,146.571429,Unknown,7,7.0,nm0015295,2015-06-02,2015-06-02,Unknown,Zoya Akhtar,Zindagi Na Milegi Dobara,1972-10-14,14.0,October,1972.0,51.0
5935,Zubair Khan,6.9,113.0,68.5,2,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
5936,Zubeida,Unknown,Unknown,Unknown,2,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
5937,Zul Vellani,Unknown,Unknown,Unknown,1,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
5938,Zunaid Memon,6.4,144.0,84.0,1,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown

In [44]:
merged_df.to_csv('3_movies_india_director_managed.csv', index=False)